---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import '@/styles/global.scss';
import { SITE } from '@/consts';

interface Props {
	title: string;
	page: string;
	author?: string;
	description?: string;
	enableAnalytics?: boolean;
	enableComments?: boolean;
}

const {
	title,
	page,
	author = SITE.author,
	description = SITE.description,
	enableAnalytics = false,
	enableComments = false,
} = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width,initial-scale=1' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		{
			/* Other favicons go here. Examples:

			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
			<link rel="manifest" href="/site.webmanifest" />
			<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />

			*/
		}
		<meta name='generator' content={Astro.generator} />

		<link
			rel='alternate'
			type='application/rss+xml'
			title=`RSS Feed for ${canonicalURL}`
			href='/feed'
		/>

		{
			/* Add a webmention endpoint if you're using webmention.io.
		
		<link rel="webmention" href="https://webmention.io/.../webmention"/> 
  			
			*/
		}

		<link rel='canonical' href={canonicalURL} />

		<title>{title}</title>
		<meta name='title' content={title} />
		<meta name='author' content={author} />

		<meta property='og:type' content='website' />
		<meta property='og:url' content={Astro.url} />
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		{/* <meta property="og:image" content={new URL(image, Astro.url)} /> */}

		<meta property='twitter:card' content='summary' />
		<meta property='twitter:url' content={Astro.url} />
		<meta property='twitter:title' content={title} />
		<meta property='twitter:description' content={description} />
		{/* <meta property="twitter:image" content={new URL(image, Astro.url)} /> */}

		{/* KaTeX CSS */}
		<link
			rel='stylesheet'
			href='https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css'
			integrity='sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV'
			crossorigin='anonymous'
		/>
	</head>
	<body>
		<Header page={page} />
		<div class='w-full max-w-2xl md:box-content p-6 md:px-24'>
			<main>
				<slot />
			</main>
			<Footer enableAnalytics={enableAnalytics} />
		</div>
	</body>
</html>
